In [13]:
import wetter_api as wt
# import waldbrand
import model_eval as me
# import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
# from sklearn.linear_model import LinearRegression, Ridge, Lasso
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
# from sklearn.svm import SVR
# from sklearn.metrics import mean_squared_error, r2_score

In [14]:
parameter_list = [
    wt.DwdObservationParameter.MONTHLY.PRECIPITATION_HEIGHT,
    wt.DwdObservationParameter.MONTHLY.TEMPERATURE_AIR_MAX_200,
    wt.DwdObservationParameter.MONTHLY.SUNSHINE_DURATION,
]
# Dictionary with short names as keys and full names as values
shortname_to_state = {
    "BW": "Baden-Württemberg",
    "BY": "Bayern",
    "BE": "Berlin",
    "BB": "Brandenburg",
    "HB": "Bremen",
    "HH": "Hamburg",
    "HE": "Hessen",
    "MV": "Mecklenburg-Vorpommern",
    "NI": "Niedersachsen",
    "NW": "Nordrhein-Westfalen",
    "RP": "Rheinland-Pfalz",
    "SL": "Saarland",
    "SN": "Sachsen",
    "ST": "Sachsen-Anhalt",
    "SH": "Schleswig-Holstein",
    "TH": "Thüringen",
}

# Example usage
shortname = "BB"
state = shortname_to_state.get(shortname)

In [15]:
merged_data = me.prepare_data(parameter_list, state)

In [16]:
str_parameter_list = [str(param) for param in parameter_list]
feature_list = ["Year", "Month"] + str_parameter_list
# model_results = me.prepare_data_for_ml(merged_data, feature_list)

In [17]:
merged_data

,Year,Month,CLIMATE_SUMMARY.PRECIPITATION_HEIGHT,CLIMATE_SUMMARY.TEMPERATURE_AIR_MAX_200,CLIMATE_SUMMARY.SUNSHINE_DURATION,nFires
0,1995,1,42.5,285.35,191160.0,0
1,1995,1,42.5,285.35,176040.0,0
3,1995,1,42.5,285.35,154080.0,0
4,1995,1,42.5,285.35,189360.0,0
8,1995,1,42.5,285.35,159840.0,0
...,...,...,...,...,...,...
5257108,2022,12,40.7,290.05,97200.0,0
5257110,2022,12,40.7,290.05,74520.0,0
5257111,2022,12,40.7,290.05,114480.0,0
5257113,2022,12,40.7,290.05,107640.0,0
5257114,2022,12,40.7,290.05,74160.0,0

In [18]:
test_size=0.2
random_state=42
str_parameter_list = [str(param) for param in parameter_list]
feature_list = ["Year", "Month"] + str_parameter_list
X = merged_data[feature_list]
y = merged_data["nFires"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=test_size, random_state=random_state
)
# results = evaluate_model(X_train, X_test, y_train, y_test)

In [19]:
gbr = me.evaluate_model(X_train, X_test, y_train, y_test, "Gradient Boosting Regression")

In [ ]:
lr = me.evaluate_model(X_train, X_test, y_train, y_test, "Linear Regression")

In [8]:
# for model_name, metrics in model_results.items():
#     print(f"{model_name} - MSE: {metrics['mse']}, R2: {metrics['r2_score']}")
#     if model_name == "Linear Regression":
#         print("Coefficients:", metrics["model"].coef_)

Linear Regression - MSE: 10.166649628817384, R2: 0.021835458101298832
Coefficients: [ 8.82569828e-03  8.20538354e-02 -2.13441012e-02 -6.45986239e-02
 -1.00452705e-01  1.62239095e-05]
Ridge Regression - MSE: 10.166879032069138, R2: 0.021813386510867838
Lasso Regression - MSE: 10.773155842992109, R2: -0.03651836491875793
Decision Tree Regression - MSE: 14.720588235294118, R2: -0.41631294215563863
Random Forest Regression - MSE: 6.16505294117647, R2: 0.40684134831460683
Support Vector Regression - MSE: 6.219423511447696, R2: 0.4016101889942958
Gradient Boosting Regression - MSE: 6.744142365429745, R2: 0.35112537874017613